$spacer: 4px;
$spacers: ();
@for $i from 0 through 16 {
  $spacers: map-merge($spacers, ($i: $spacer * $i))
}

$utilities: (
  'margin-top': (
    class: 'mt',
    property: margin-top,
    values: $spacers
  ),
  'margin-bottom': (
    class: 'mb',
    property: margin-bottom,
    values: $spacers
  ),
  'margin-right': (
    class: 'mr',
    property: margin-right,
    values: $spacers
  ),
  'margin-left': (
    class: 'ml',
    property: margin-left,
    values: $spacers
  ),
  'margin-x': (
    class: 'mx',
    property: margin-right margin-left,
    values: $spacers
  ),
  'margin-y': (
    class: 'my',
    property: margin-top margin-bottom,
    values: $spacers
  ),
  'margin': (
    class: 'm',
    property: margin,
    values: $spacers
  ),
);

@each $key1, $props in $utilities {
  @each $key2, $value in map-get($props, values) {
    $class: map-get($props, class);
    $modifier: '-' + $key2;
    $property: map-get($props, property);

    @if type-of($property) == 'list' {
      .#{$class + $modifier} {
        @each $property2 in $property {
          #{$property2}: #{$value};
        }
      }
    } @else {
      .#{$class + $modifier} {
        #{$property}: #{$value};
      }
    }
  }
}
