@mixin generate-utility($utilities) {
  @each $key, $props in $utilities {
    $values: map-get($props, values);
  
    @if type-of($values) == 'map' {
      @each $modifier, $value in $values {
        $class: map-get($props, class);
        $property: map-get($props, property);
  
        .#{$class + '-' + $modifier} {
          @if type-of($property) == 'list' {
            @each $item in $property {
              #{$item}: #{$value};
            }
          }
          @else {
            #{$property}: #{$value};
          }
        }
      }
    }
  }
}